
* {
    margin: 0;
}

body {
    font-family:'Roboto', sans-serif;
    
    /* width: 1120px; use this width to replicate exact design, most likely ipad size    */
    
    
}

header {
    height: 70px;
    display: inline-block;
    line-height: 70px; 
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}

#logo-container {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    
}

#logo {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

main {
    background-color: #f6f8f9;
    padding-top: 40px;
    height: 750px;
    
}

nav {
    background-color: white;
    width: 787px;
    height: 50px;
    margin: 0px auto 3px auto;
    padding: 15px 0px 0px 50px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.03); 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    line-height: 50px;
}

#btn-1 {
    background-color: #14aaf5;
    color: white;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    border: 0;
}

#btn-2 {
    background-color: white;
    font-weight: 700;
    color: #c4cbd0;
    width: 95px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    border: 1px solid #c4cbd0;
}

.container {
    background-color: white;
    width: 737px;
    height: 586px;
    margin: 0 auto;
    padding: 30px 50px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.03);
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    list-style-position: inside;
    margin-bottom: 40px;
}

.list-bullet::before {
    content: "\2714";
    margin-right: 10px;
    border: 1px solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    color: #4ccfb8;

}

.wider-triangle {
    display: inline-block;
    transform: scaleX(1.5);
}

section h2 {
    margin-bottom: 10px;
    
}

section li {
    margin-bottom: 20px;
    font-weight: 500;
}

